.input-form {
  width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid #000;
  opacity: .2;
  color: #000;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

@media (max-width: 580px) {
  .input-form {
    width: 238px;
    height: 22px;
    font-size: 14px;
  }
}
