.user__add-btn {
  background: none;
  border: 2px solid #fff;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s ease-out;
  padding: 0;
}

.user__add-btn:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width: 917px) {
  .user__add-btn {
    width: 282px;
    margin-top: 36px;
  }
}
