.user-avatar {
  width: 120px;
  height: 120px;
  background-image: url(../../images/avatar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

}
