.edit-btn {
  width: 24px;
  height: 24px;
  background: none;
  border: 1px solid #fff;
  background-image: url(../../images/edit-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18px;
  box-sizing: border-box;
  transition: .3s ease-out;
  padding: 0;
}

.edit-btn:hover {
  opacity: .6;
}

@media (max-width: 618px) {
  .edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
