.close-btn {
  background-color: transparent;
  border:none;
  background-image: url(../../images/close-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 2;
  transition: .3s ease-out;
  padding: 0;
}

.close-btn:hover {
  opacity: .6;
}
